
<div class="aboutheader" style="color:#307C00;">Who Are We?</div>


<div class="container-fluid" style="width:80%;
    font-style: normal;
    font-weight: 400; color: #307C00;">
<div class="col-xs-6 col-md-4" style="padding-top: 0%; font-size: 30px; letter-spacing: 6px; line-height: 180%;color:#307C00;">Innovative<br />Professional<br />Leaders</div>
<div class="col-xs-12 col-md-8"><span style="line-height: 27px !important;
  font-size: 15px !important; color: #333;
   font-family: 'Open Sans',Arial, Helvetica, sans-serif !important;">At Crystal Air we have been working with Japanese manufacturers for almost 20 years and their philosophy of collaborative partnerships, just in time processes and continuous improvement has provided us with the necessary tools to become a leader in the specification, installation, commissioning, maintenance and servicing of various air conditioning applications.
We understand what it takes to get to the finish line on time and within budget, performing our part of the overall project to the deadlines that clients expect. Delight for our customer is our focus.
Our core capabilities lie within the HVAC market and we are specialist installers of VRF / VRF and all types of DX plant. The business was started in 1997 primarily as an air conditioning installation, service and maintenance contractor for the commercial and industrial building sector.</span><br /><br />

<br />
  <br />
</div>

<div class="col-xs-12 col-md-8"><span style="line-height: 27px !important;
  font-size: 15px !important; color: #333;
   font-family: 'Open Sans',Arial, Helvetica, sans-serif !important;">With nineteen years operational experience, this has been added and expanded:
We have a design experience within the sector for Air conditioning, Ventilation and Heating. Furthermore we have a special competence in successfully integrating diverse systems to work in harmony in an energy efficient manner.
Crystal Air has successfully carried out third party sales, and would be Irish Agents for large multinational engineering companies such as CIAT, Airedale and Solid Air. Products available include Chillers, AHU’s, Chilled Beams, Fan Coil Units and free cooling systems. This has been complemented by our Thermal Energy Storage solutions using Phase Change Materials, PCM.
Apart from the necessary tools to complete installations and maintenance, our key resources would be our team of a staff of 55 people including;
Service & Maintenance Air Conditioning Engineers, Electricians and apprentices.
Installation Engineers, Apprentices and General Operatives
Administration from our offices in Clane where a team of ten full time staff support the contracts managers and supervisors on site.
   </span></div><div class="col-xs-6 col-md-4" style="padding-top: 0%; font-size: 30px; letter-spacing: 6px; line-height: 180%; color:#307C00;">Designers<br />Engineers<br />Specialists<br />Apprentices</div>

</div>
<br /><br />
<div class="header1" style="text-align: center; padding-top: 2%; font-size: 30px; letter-spacing: 6px; color: #307C00; Roboto,arial,sans-serif; font-weight: 400;">Members. Associates. Partners. Patrons.</div>
<div id="rowend" class="row"><span style="text-align: center; line-height: 27px !important;
  font-size: 15px !important; color: #333;
   font-family: 'Open Sans',Arial, Helvetica, sans-serif !important;">
<br />
We are members of Engineers Ireland, the Institute of Refrigeration, the Institute of Refrigeration Ireland, the F-Gas Register, ASHRAE, NISO Safety Accredited, and Patrons of the Irish Hospitality Institute.
We’re ISO 9001 certified, EPA approved (PAN), a business solution provider for Mitsubishi Electric (the largest shareholder in the Irish AC sector) , a dealer plus partner for Daikin air conditioning (the largest global AC brand) and an authorised partner of Panasonic Heating & Cooling Systems
We also have an international network, with subsidiary companies established in Finland and the Netherlands, to support overseas projects that can offer data centre cooling using various technologies. All under an umbrella holding company, Crystal Air Holdings Ltd.</span></div>


<br /><br />




