
<!-- Page Content -->
    <div class="container" style="width:80%">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Projects
                    <small>Hospitality Sector</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-5">
                <a href="#">
                     <%= image_tag('crownplazapro700x400.png', :class => 'img-responsive', :size => '500x200', :alt => 'projects') %>
                </a>
            </div>
            <div class="col-md-7">
                <h3>Project One</h3>
                 <h4><span style="color:#307C00;">Project: </span><span style="font-size:16px;color:#777"><strong>Crowne Plaza Hotel, Dublin Airport</strong></span></h4>
              <h4><span style="color:#307C00;">Location: </span><span style="font-size:16px;color:#777">Santry Demense, Dublin</span></h4>
              <h4><span style="color:#307C00;">Description: </span><span style="font-size:16px;color:#777">This is a very high spec 4 star international hotel with 207 fully air conditioned bedrooms, dedicated air conditioned conference and meeting rooms, executive break out areas, bars and dining.</span></h4>
              <h4><span style="color:#307C00;">Installation: </span><span style="font-size:16px;color:#777">28 VRF outdoor units (280hp), 219 Concealed
                ducted units complete with secondary ductwork and grilles supplied and installed by Crystal Air, 18 4-way blow cassettes, 5 high wall units.</span></h4>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-5">
                <a href="#">
                    <%= image_tag('westburyProject.png', :class => 'img-responsive', :size => '500x200', :alt => 'projects') %>
                </a>
            </div>
            <div class="col-md-7">
                <h3>Project Two</h3>
                 <h4><span style="color:#307C00;">Project: </span><span style="font-size:16px;color:#777"><strong>The Westbury Hotel</strong></span></h4>
              <h4><span style="color:#307C00;">Location: </span><span style="font-size:16px;color:#777">Dublin</span></h4>
              <h4><span style="color:#307C00;">Description: </span><span style="font-size:16px;color:#777">The Westbury is a five star hotel and member of the leading hotels of the world with over 200 bedrooms. Crystal Air undertook a retrofit of 164 bedrooms to provide air conditioning</span></h4>
              <h4><span style="color:#307C00;">Installation: </span><span style="font-size:16px;color:#777">17 VRF outdoor condensing units (150hp), 124 Concealed ducted units complete with secondary ductwork and grilles supplied and installed, 40 Concealed floor standing units.</span></h4>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-5">
                <a href="#">
                    <%= image_tag('jurysinnpro700x400.png', :class => 'img-responsive', :size => '500x200', :alt => 'projects') %>
                </a>
            </div>
            <div class="col-md-7">
                <h3>Project Three</h3>
               <h4><span style="color:#307C00;">Project: </span><span style="font-size:16px;color:#777"><strong>Jurys Inn</strong></span></h4>
              <h4><span style="color:#307C00;">Location: </span><span style="font-size:16px;color:#777">Moore St/Parnell St, Plaza Dublin</span></h4>
              <h4><span style="color:#307C00;">Description: </span><span style="font-size:16px;color:#777">Hotel complex complete with 254 fully air conditioned bedrooms, meeting rooms, bar, lounge and restaurant.</span></h4>
              <h4><span style="color:#307C00;">Installation: </span><span style="font-size:16px;color:#777">29 VRF outdoor condensing units (275hp), 3 Split system condensing units, 267 concealed ducted units complete with seconday ductwork and grilles supplied and installed by Crystal Air, 6 4-way blow cassettes, 1 Underceiling unit, 3 high wall units, Combination of 2-pipe and 3-pipe technology.</span></h4>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-5">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-7">
                <h3>Project Four</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?</p>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Five -->
        <div class="row">
            <div class="col-md-5">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-7">
                <h3>Project Five</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo, minima, inventore voluptatum saepe quos nostrum provident ex quisquam hic odio repellendus atque porro distinctio quae id laboriosam facilis dolorum.</p>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
</div>
